#container {
	width: 300px;
	height: 300px;
	position: relative;
	margin: auto;
	transition : transform .3s ease-in ;
}

.node {
	height: 30px;
	width: 30px;
	border-radius: 15px;
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
	opacity: 0.7;
	transition : left .2s, top .2s, width .15s ease-in ; 
}

#yellow {
	background-color: rgb(253, 224, 6);
}

#pink {
	background-color: rgb(250, 6, 201);
}

#green {
	background-color: rgb(10, 250, 138);
}

#blue {
	background-color: rgb(0, 166, 255);
}